* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

header {
    display: block;
    background-color: black;
    max-height: 20vh;
    height: 20vh;
}

header img{
    float: left;
    max-width: 20vw;
    max-height: 20vh;
    border-radius: 50%;
}

.navbar{
    float: left;
    display: block;
    padding: 3vh;
    background-color: blue;
    margin-top: 2vh
}

.navButtons{
    background-color: #FAE4A8;
    font-size: 2vw;
    padding: 1vh;
    border-radius: 6px;
    border: none;
    font-weight: bold;
}

nav li {
    border-radius: 2em;
    list-style-type: none;
    display: inline-block;
    padding: 1em;
}

.navButtons:hover {
    color: navy;
    font-style: italic;
}
